body {
    background-color: #e4e4e4;
    color: green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

#side-bar {
    background-color: #c7c7c7;
    width: 25%;
    margin-right: 10px;
    display: flex;
    flex: column;
    justify-content: center;
}

#app {
    width: 1000px;
    margin: auto;
    position: relative;
    top: -150px;
}


#sliderContainer {
    margin-left: 60%;
    position: absolute;
    top: 600px;
    left: 0;
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    color: #a9a9a9;
}

#yearslide {
    width: 300px;
}

#year-range {
    display: block;
    margin: 5px 0;
}


#typeslide {
    width: 300px;
}

#type-range {
    display: block;
    margin-bottom: 5px;
}



#chart {
    background-color: #c7c7c7;
    width: 350px;
    height: 220px;
    z-index: 1;
}

#bar-chart-title {
    background-color: #c7c7c7;
    width: 330px;
    margin: 0;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    
}

.bar-chart {
    position: absolute;
    background-color: #c7c7c7;
    z-index: 5;
}

.color-box {
    background: #c7c7c7;

}

.price-compare {
    background: rgb(231, 228, 228);
    margin-bottom: 5px;
    border-radius: 3px;
    z-index: 1;
    text-align: center;
    
 
}

#price-compare {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    
}

.closing-button {
    fill: transparent;
}

.closing-button-text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#price-compare-background-text {
    color: darkgray;
    font-weight: bold;
    position: absolute;
    top: 200px;
    width: 250px;
    padding: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h3 {
    text-align: center;
    color: black;
}

#main-title {
    background-color: #c7c7c7;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

#bar-chart-background-text {
    color: darkgray;
    position: absolute;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 350px;
    z-index: 0;
    font-weight: bold;
}

.closing-button-text {
    cursor: pointer;
}



